/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f6f4;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll due to video width */
}

/* ... Previous CSS rules ... */

.cozy {
    background-color: #f8f6f4;
    padding: 4rem 0;
}

.cozy-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* ... Rest of the CSS rules ... */

.mission {
    position: relative;
    padding: 50px 0; /* Adjust as needed */
    background-color: #da5242; /* Add a solid background color */
    opacity: 0.9;
}

.stripe {
    /* ... */
    background-color: #000000; /* Add your desired background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.regular-stripe {
    background: url('images/ribbon.png') repeat;
    background-size: 110%; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    transform: skewY(-8deg);
    transform-origin: top left;
}

.shadow-stripe {
    background: url('images/ribbon.png') repeat;
    background-size: 110%; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    transform: skewY(-8deg);
    transform-origin: top left;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
