/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f6f4;
    color: #4a4a4a;
    margin:0;
    padding:0;
    overflow-x: hidden; /* Prevent horizontal scroll due to video width */ 
}

/* ... Previous CSS rules ... */

.cozy {
    background-color: rgba(248, 246, 244, 1); /* Initial background color */
    padding: 2rem 1rem; /* Adjust padding for mobile */
    margin: 0; /* Remove negative margin */
    background-color: #f8f6f4;
    padding: 5rem 0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cozy-content {
    max-width: 1200px;
    margin: 0 auto; /* Center the content horizontally */
    text-align: center;
}

.cozy h2 {
    font-size: 2rem;
    color: #4a4a4a;
    margin-bottom: 1rem;
}

.cozy p {
    font-size: 1.1rem;
    color: #6c6c6c;
    margin-bottom: 2rem;
}

.contact {
    background-color: transparent;
    padding: 4rem 0;
    margin: 0 auto;
}

.contact-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1.5rem;
}

.contact p {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 1.5rem;
}

.contact a {
    color: #aa8c67;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #876b4f;
}

.social-icons {
    margin-top: 1.5rem;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-3px);
}

/* ... Rest of your CSS rules ... */

header {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5rem;
    color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #da5242;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    position: relative;
    overflow: hidden; /* To ensure the video doesn't /*overflow */
    m*/in-height: 100vh; /* Set a minimum height to ensure full viewport coverage */
    text-align: center;
    color: #fff;
    padding: 6rem 0;
}

.video-overlay {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(100, 100, 100, 0.5); /* Adding a semi-transparent background */
    backdrop-filter: blur(5px);
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 4rem 0;
    box-sizing: border-box;
}

.overlay {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #333333;
    opacity: 0.8;
}

.overlay-img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(10px); /* Apply the blur effect */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.site-container {
    position: relative; /* Ensure it covers the whole viewport */
    overflow: hidden; /* Hide any overflow */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
    overflow: hidden;
}

.video-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #100000;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #da5242;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    /* Add the following properties to show the background after the menu section */
    position: relative;
    z-index: 1;
    background-color: transparent;
    overflow: hidden;
}

.menu-item {
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu-item-dark {
    background-color: rgba(100, 100, 100, 0.2); /* Slightly transparent gray */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.social-icon {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover .social-icon {
    transform: scale(1.1);
}

.menu-item img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #4a4a4a;
}

.menu-item p {
    font-size: 1rem;
    color: #6c6c6c;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.2rem;
    color: #aa8c67;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #da5242;
    color: #4a4a4a;
    font-size: 0.8rem;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.mission {
    padding-top: 5rem;
    border-radius: 20px;
    position: relative;
    padding: 50px 0; /* Adjust as needed */
    background-color: #da5242; /* Add a solid background color */
    opacity: 1;
    margin-top: 10rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin: 0rem -0rem;
}

.mission-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

.stripe {
     /* ... */
    background-color: #000000; /* Add your desired background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.regular-stripe {
    background: url('../images/ribbon.png') repeat;
    background-size: 110%; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    transform: skewY(-0deg) translateZ(0);
}

.shadow-stripe {
    background: url('../images/ribbon.png') repeat;
    background-size: 110%; /* Adjust as needed */
    background-position:c enter; /* Adjust as needed */
    transform: skewY(-0deg) translateZ(0);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f6f4;
    z-index: -1;
    opacity: 0; /* Start with opacity set to 0 */
    transition: opacity 0.5s ease; /* Add a transition for opacity */
}

header, nav ul {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

header.fade-in, nav ul.fade-in {
    opacity: 1;
    transform: translateY(0);
}